body {
  width: 100%;
  height: auto;
  background-color: #fffeeb;
}
ul {
  list-style: none;
}
footer {
  background-image: url(../img/footerBg.gif);
  height: 95px;
  background-position: center;
}
#vm .header .xi {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
}
.header {
  min-width: 1000px;
}
.header .banner {
  background-image: url(../img/bannerBg.gif);
  height: 95px;
  background-position: center;
}
.header .banner .content {
  min-width: 1000px;
  width: 1000px;
  height: 95px;
  margin: 0 auto;
}
.header .banner .content .logo {
  padding-top: 21px;
  height: 53px;
}
.header .banner .content .qcode {
  width: 53px;
  height: 53px;
  padding-top: 21px;
  float: right;
}
.header .nav {
  position: absolute;
  top: 95px;
  width: 100%;
  z-index: 2;
  background-color: #C0130B;
  height: 48px;
}
.header .nav ul {
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 48px;
}
.header .nav ul a {
  width: 140px;
  display: inline-block;
}
.header .nav ul a li {
  color: #ffffff;
  display: inline-block;
  width: 140px;
  text-align: center;
}
.header .nav ul a li:hover {
  color: #ffd42a;
}
.article-content {
  background-color: #ffffff;
  width: 1000px;
  min-width: 1000px;
  border: 1px solid #EBD7BC;
  margin: 0 auto;
  margin-top: 88px;
  padding: 20px 0;
}
.article-content .main {
  width: 700px;
  margin: 0 auto;
}
.article-content .main .title {
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #C0130B;
  height: 60px;
  font-weight: bolder;
}
.article-content .main p {
  font-size: 16px;
  line-height: 32px;
  color: #6D4822;
  margin-bottom: 20px;
  text-indent: 2em;
}
.article-content .main img {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  width: 700px;
}
.article-content .main .zhaiyao {
  line-height: 22px;
  border-left: 4px solid #C0130B;
  opacity: 0.7;
  padding-top: 10px;
}
.article-content .main .zhaiyao a {
  color: #6D4822;
}
